{% extends 'base.html' %}

{% block body %}
<main class="container">
    <div class="form-signin w-100 m-auto" >
        <form action="homeSchool" method = "POST"  novalidate>
            
            <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" width="72" heigth="57">
            
            <h1 class="h3 mb-3 fw-normal">
                Criar conta
            </h1>
            <div class="row g-3">
                <div class="col-md-6">
                    <input name="escola" type="text" class="form-control"  placeholder="Nome da Escola">
                </div>
                <div class="col-md-6">
                    <input name="diretor" type="text" class="form-control"placeholder="Diretor">
                </div>
            </div>
            
            <br>

            <div class="row g-3">
                <div class="col-md-6">
                    <select name="tipo" class="form-select" aria-label="Default select example">
                        <option  selected>Tipo de escola</option>
                        <option value="1">Pública</option>
                        <option value="2">Particular</option>
                        </select>
                </div>
                <div class="col-md-6">
                    <select name="ensino" class="form-select" aria-label="Default select example">
                        <option selected>Grau de ensino</option>
                        <option value="1">Creche</option>
                        <option value="2">Fundamental</option>
                        <option value="3">Médio</option>
                        <option value="4">Superior</option>
                        <option value="5">Profissionalizante</option>
                        <option value="6">Técnico</option>
                        <option value="7">Curso livre</option>
                        </select>
                </div>
                
            </div>
            <br>
            <div class="row g-3">
                <div class="col-md-3">
                    <select name="estado" class="form-select" aria-label="Default select example">
                        <option selected>Estado</option>
                        <option value="1">Acre</option>
                        <option value="2">Alagoas</option>
                        <option value="3">Amapá</option>
                        <option value="4">Amazonas</option>
                        <option value="5">Bahia</option>
                        <option value="6">Ceará</option>
                        <option value="7">Espírito Santo</option>
                        <option value="8">Goiás</option>
                        <option value="9">Maranhão</option>
                        <option value="10">Mato Grosso</option>
                        <option value="11">Mato Grosso Sul</option>
                        <option value="12">Minas Gerais</option>
                        <option value="13">Pára</option>
                        <option value="14">Paraíba</option>
                        <option value="15">Paraná</option>
                        <option value="16">Pernambuco</option>
                        <option value="17">Piauí</option>
                        <option value="18">Rio Janeiro</option>
                        <option value="19">Rio Grande do Norte</option>
                        <option value="20">Rio Grande do Sul</option>
                        <option value="21">Rondônia</option>
                        <option value="22">Roraima</option>
                        <option value="23">Santa Catarina</option>
                        <option value="24">São Paulo</option>
                        <option value="25">Sergipe</option>
                        <option value="26">Tocantins</option>                    
                        <option value="27">Distrito Federal</option>
                        </select>
                </div>
                <div class="col-md-6">
                    <input name="cidade" type="text" class="form-control" placeholder="Cidade">
                </div>
                <div class="col-md-3">
                    <input name="cep" type="text" class="form-control"  placeholder="12345-000">
                </div>
                <div class="col-md-10">
                    <input name="rua" type="text" class="form-control"  placeholder="Rua das flores">
                </div>
                <div class="col-md-2">
                    <input name="numero_casa" type="text" class="form-control" placeholder="N°">
                </div>
                <div class="col-md-6">
                    <input name="email" type="email" class="form-control"  placeholder="Exemplo@exemplo.com">
                </div>
                <div class="col-md-6">
                    <input name="senha" type="password" class="form-control" placeholder="Senha">
                </div>
            </div>
            <hr>
            <button class="btn btn-primary md-3 " type="submit">Criar</button>
    </form>
    </div>
</main>
{% endblock %}