{% extends 'base.html' %}

{% block body %}
<main class="container">
    <div class="form-signin w-100 m-auto" >
        <form action="homeResponsavel" method="POST">
            
            <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" width="72" heigth="57">
            
            <h1 class="h3 mb-3 fw-normal">
                Criar conta
            </h1>
            <div class="row g-3">
                <div class="col-md-6">
                    <input name="nome" type="text" class="form-control"  placeholder="Nome">
                </div>
                <div class="col-md-6">
                    <input name="sobrenome" type="text" class="form-control"placeholder="Sobrenome">
                </div>
            </div>
            
            <br>

            <div class="row g-3">
               
            </div>
            <br>
            <div class="row g-3">
                <div class="col-md-6">
                    <input name="nascimento" type="date" class="form-control" placeholder="Data nascimento">
                </div>
                <div class="col-md-6">
                    <input name="documento" type="text" class="form-control"  placeholder="N° RG">
                </div>
                <div class="col-md-6">
                    <input name="usremail" type="text" class="form-control"  placeholder="Email">
                </div>
                <div class="col-md-6">
                    <input name="usrsenha" type="password" class="form-control" placeholder=".....">
                </div>
                <div class="col-md-6">
                    <input name="qrcode" type="text" class="form-control"  placeholder="qr code">
                </div>
            </div>
            <hr>
            <button class="btn btn-primary md-3 " type="submit">Criar</button>
    </form>
    </div>
</main>
{% endblock %}