{% extends 'components/navbar_user.html' %} 
{% block title %}Home Responsavel{% endblock %}

{% block body %}

<div class="container-fluid">


    <div class="row" style="margin: 15%;">

      <div class="col-md" >
        <!-- card-1 de informações  -->
        <div class="row">

          <!-- card-2 de informações  -->
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Responsável: <strong>{{ usr[1] }}</strong></h6>
              <p class="card-text">Responsavel Temporarios:  {{data_temp[0] }}</p>
              <p class="card-text">QR code: <button>Baixar</button></p>
            </div>
          </div>

        </div>    
      </div>
      
      <div class="col-md">

        <!-- card-2 de informações  -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Aluno(a): <strong>{{data_aluno[1]}}</strong> </h6>
            <p class="card-text">RA: <strong> {{ data_aluno[2] }} </strong></p>
            <p class="card-text">QR Code: <button type="button">Baixar</button></p>
          </div>
        </div> 

      </div>

    </div>

    

    
</div>
{% endblock  %}
