{% extends 'components/base.html' %}

{% block resource %}
<style>
    input:invalid {
        border: 2px dashed red;
      }
      
      input:valid {
        border: 2px solid black;
      }
</style>
{% endblock %}

{% block body %}
<main class="container">
    <div class="form-signin w-100 m-auto" >
        <form  method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <p class="flashes alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </p>
                    {% endfor %}
            {% endif %}
        {% endwith %}
            <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" width="72" heigth="57">
            
            <h1 class="h3 mb-3 fw-normal">
                Criar conta
            </h1>
            <div class="row g-3">
                <div class="col-md-6">
                    <input name="nome" type="text" class="form-control"  placeholder="Nome" required>
                </div>
                <div class="col-md-6">
                    <input name="sobrenome" type="text" class="form-control"placeholder="Sobrenome" required>
                </div>
            </div>
            
            <br>

            <div class="row g-3">
               
            </div>
            <br>
            <div class="row g-3">
                <div class="col-md-6">
                    <input 
                    name="nascimento" 
                    type="date" 
                    class="form-control" 
                    placeholder="Data nascimento"
                    required>
                </div>
                <div class="col-md-6">
                    <input
                    name="documento"
                    type="number" 
                    class="form-control"  
                    placeholder="N° RG"
                    required
                    minlength="8"
                    maxlength="8">
                </div>
                <div class="col-md-6">
                    <input name="usremail" type="email" class="form-control"  placeholder="Email" required>
                </div>
                <div class="col-md-6">
                    <input name="usrsenha" type="password" class="form-control" placeholder="" required>
                </div>
            </div>
            <hr>
            <button class="btn btn-primary md-3 " type="submit">Criar</button>
    </form>
    </div>
</main>
{% endblock %}